<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkrjTYGMS15rpNJGAC8bh-b1HXR5VnFjk</string>
	<key>GCM_SENDER_ID</key>
	<string>502500429248</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inclass13</string>
	<key>PROJECT_ID</key>
	<string>inclass13-87198</string>
	<key>STORAGE_BUCKET</key>
	<string>inclass13-87198.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502500429248:ios:588a8a58de7bf217510c25</string>
</dict>
</plist>